<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
</head>
<body>
    <div class="counter">
        <h1>Counter</h1>
        <h3>{{request.session.count}} times</h3>
    </div>
    <div class="button">
        <form action="count/" method="post">
            {% csrf_token %}
            <button type="submit" name="b" value="add">Add 2 </button>
        </form>
        <a href="/destroy">
            <button>Reset </button>
        </a>
    </div>

</body>
</html>